/*Generali*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*DEBUG*/
/*
[class^="container"]{
    background-color: blanchedalmond;
    height: 800PX;
}

[class^="row"]{
    background-color: rgb(39, 151, 69);
    height: 400PX;
}

[class^="col"]{
    background-color: rgb(196, 147, 73);
    height: 400PX;
}
*/
